<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

	<body>
		<div class = 'text-center'>
		<form method="POST">
			<h1 class = 'text-center' > Discourse Type Classifier</h1>
			<br>
			<div class = 'text-center'  ><label>discourse_text : <input type="text" name="discourse_text"></label></div>
			<div class = 'text-center'  ><label>discourse_type : <input type="text" name="discourse_type"></label></div>
			<input  class ='btn btn-primary mt-3' type="submit" value="Submit" >
		</form>
	</div>

	</body>
</html>